<mat-card>
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" required email>
            <mat-error *ngIf="loginForm.get('username').invalid">Please enter valid username</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" name="content" required>
            <mat-error *ngIf="loginForm.get('password').invalid">Please enter valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
</mat-card>
