<mat-card>
    <form (ngSubmit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput placeholder="Enter title" ngModel name="title" required #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="3" placeholder="Enter description" ngModel name="content" required #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter description</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Post</button>
        <button mat-raised-button color="primary" type="button" (click)="onDeletePost()">Delete</button>
    </form>
</mat-card>
